.assign-tasks {
    display: flex;
    padding: 20px;
}

.assign-tasks-column {
    flex: 50%;
}

.assign-tasks-label {
    padding: 20px;
}

.assign-tasks-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}