.controller-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.controller-container-column {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px black;
    border-style: solid;
}

.controller-container-small-column {
    width: 50%;
    margin: 10px;
    padding: 10px;
}
